.header
    display: flex
    justify-content: space-between
    flex-direction: row
    height: 15vh
    width: 100vw
    background: #163035
    .logo
        padding: 12px
        p
            a   
                text-justify: center
                text-align: center
                text-decoration: none
                font-weight: bold
                color: #ffffffc6
                font-size: 1.7rem
    .derecha
        display: flex
        align-items: center
        form
            padding: 1rem
            input
                border: 0px solid #ffffff00
                background: #00000089
                color: #ffffffb4
                border-radius: 5px
                height: 30px
                padding: 18px
                font-weight: bold
            button
                border: 0px solid #ffffff00
                background: #00000089
                color: #ffffffb4
                border-radius: 5px
                padding: .6rem
                cursor: pointer
        nav
            ul
                width: 8rem
                display: flex
                justify-content: space-evenly
                flex-direction: row
                padding: 30px
                li
                    list-style: none
                    a
                        font-size: 1.4rem
                        font-weight: bold
                        color: #ffffffc6

